.section-gallery {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.section-link {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-size: 20px;
}

.section-link:hover,
.section-link:focus {
  color: #4e75ff;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 24px;
  max-width: 1128px;
  height: 648px;
  padding: 24px 156px;
  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gallery-image:hover {
  transform: scale(1.03);
}
